.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 250ms var(--transition-funktion),
    visibility 250ms var(--transition-funktion),
    opacity 250ms var(--transition-funktion);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--transition-funktion);
  &:hover, &:focus {
  fill: var(--accent-color);
}
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-input {
  display: block;
  min-width: 448px;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms var(--transition-funktion);
}

.label-text-tel-email,
.textarea-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.label-text-tel-email {
  margin-bottom: 10px;
}
.input-wrap {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms var(--transition-funktion);
}
.modal-form input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-form input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.textarea-label {
  margin-bottom: 20px;
}
.modal-textarea {
  display: block;
  margin-top: 4px;
  min-width: 448px;
  min-height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border 250ms var(--transition-funktion);
  &:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
}

.textarea-label::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.modal-link {
  color: var(--accent-color);
}

.checkbox-icon {
  margin-right: 7px;
  fill: transparent;
  border: 2px solid var(--title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transition: background-color 250ms var(--transition-funktion),
    fill 250ms var(--transition-funktion),
    box-shadow 250ms var(--transition-funktion);
}

.modal-checkbox:checked ~ .checkbox-icon {
  background-color: var(--accent-color);
  border: none;
  fill: #ffffff;
  box-shadow: none;
}
.modal-checkbox:focus ~ .svg-wrap .checkbox-icon {
  outline: 1px solid #000000;
}

.button-wrap {
  text-align: center;
}
.submit-btn {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--transition-funktion);
  &:hover, &:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
}
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.25);
}
